/* Tailwind plus custom gradients */

.text-gradient {
    background: linear-gradient(90deg, #ff8a00, #e52e71, #9b00e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  /* Optional: Smooth scroll */
  html {
    scroll-behavior: smooth;
  }
  
  /* Typed.js cursor */
.typed-cursor {
    font-size: 1em;
    margin-left: 2px;
    color: #a855f7; /* purple-500 */
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
  }
  